@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .15);
    z-index: -1;
}

.container {
    min-width: 360px;
    height: 400px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 10px 1px black;
}

#input-container {
    position: relative;
    width: 85%;
}

.input-wrapper {
    position: relative;
    margin-bottom: 30px;
}

input {
    width: 100%;
    height: 45px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 54px;
    border-radius: 20px;
    border: none;
    outline: none;
}

input::placeholder {
    color: rgba(175, 175, 175, .8);
    transition: .3s;
}

input:focus::placeholder {
    color: transparent;
}

button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    box-shadow: 0px 0px 5px white;
    transform: scale(1.01);
    background-color: rgb(225, 225, 225);
    color: rgb(30, 30, 30)
}

.bxs-envelope, .bxs-lock-alt  {
    position: absolute;
    font-size: 25px;
    right: 15px;
    pointer-events: none;
}

.bxs-envelope {
    top: 50%;
    transform: translateY(-50%);
}

.bxs-lock-alt  {
    top: 50%;
    transform: translateY(-50%);
}

p {
    display: flex;
    align-items: center;
    font-size: 19px;
}

.errorMessage {
    position: absolute;
    top: 75%;
    left: 10px;
    margin-top: 15px;
    color: rgb(255, 166, 0);
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
}

.errorMessage.active {
    opacity: 1;
}

.shadow {
    font-weight: 700;
    transition: 0.2s;
    transition-property: text-shadow;
}

.shadow:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#JoinLog {
    display: flex;
    justify-content: center;
    width: 100%;
}

#textJoinLog {
    font-weight: 500;
}

#linkJoinLog {
    margin: 0px 0px 0px 5px;
    text-decoration: none;
    font-weight: 400;
}

#linkJoinLog:hover {
    text-shadow: 0px 0px 5px 0px white;
}

#textJoinLog, #linkJoinLog {
    font-size: 20px;
    color: white;
}