@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Afacad Flux", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .15);
    z-index: -1;
}

.container {
    min-width: 340px;
    height: 450px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0px 0px 10px 1px black;
    user-select: none;
}

#log-container {
    position: absolute;
    display: none;
}

#reg-container {
    position: absolute;
    display: none;
    height: 560px;
}

#log-container.active, #reg-container.active {
    display: flex;
}

.input-container {
    position: relative;
    width: 85%;
}

.blur-in {
    animation:blur-in 0.6s linear both
}

@keyframes blur-in {
    0% {
        filter: blur(12px);
        opacity: 0
    }
    
    100% {
        filter: blur(0);
        opacity: 1
    }
}

.blur-out {
    animation: blur-out 0.6s linear both
}

@keyframes blur-out {
    0% {
        filter: blur(.01px);
    }
    
    100% {
        filter :blur(12px);
        opacity: 0
    }
}

img {
    width: 80px;
    height: 80px;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 750;
    color: white;
    margin: 10px 0px;
}

.input-wrapper {
    position: relative;
    margin-bottom: 30px;
}

input {
    width: 100%;
    height: 45px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 52px;
    border-radius: 20px;
    border: none;
    outline: none;
}

input::placeholder {
    color: rgba(175, 175, 175, .8);
    transition: .3s;
}

input:focus::placeholder {
    color: transparent;
}

button {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    box-shadow: 0px 0px 5px white;
    transform: scale(1.01);
    background-color: rgb(225, 225, 225);
    color: rgb(30, 30, 30)
}

#buttonLog {
    display: none;
}

#buttonReg {
    display: none;
}

#buttonLog.active {
    display: block;
}

#buttonReg.active {
    display: block;
}

.bxs-user, .bxs-envelope, .bxs-lock-alt  {
    position: absolute;
    font-size: 25px;
    right: 15px;
}

.bxs-user {
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.bxs-envelope {
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.bxs-lock-alt  {
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

p {
    display: flex;
    align-items: center;
    font-size: 19px;
}

.errorMessage {
    position: absolute;
    top: 75%;
    left: 10px;
    margin-top: 15px;
    color: rgb(255, 166, 0);
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
}

.errorMessage.active {
    opacity: 1;
}

.shadow {
    font-weight: 700;
    transition: 0.2s;
    transition-property: text-shadow;
}

.shadow:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.RegLog {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
}

.textRegLog {
    font-weight: 500;
}

.linkRegLog {
    margin: 0px 0px 0px 5px;
    font-weight: 420;
    cursor: pointer;
}

.linkRegLog:hover {
    text-shadow: 0px 0px 5px 0px white;
}

.textRegLog, .linkRegLog {
    font-size: 20px;
    color: white;
}