<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email and Password Validation</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="box-container">
            <div id="input-container">
                <input id="inputEmail" type="email" autocomplete="off" placeholder="Email"><i class='bx bxs-envelope'></i>
                <input id="inputPassword" type="password" autocomplete="off" placeholder="Password"><i class='bx bxs-lock-alt'></i>
            </div>

            <p>You don't have an account? <a href="../views/">Join</a></p>

            <button>Log in</button>
        </div>
    </div>
</body>
</html>