<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email and Password Validation</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../assets/icon/icon.png">
    <script src="../scripts/main.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div id="input-container">
            <div class="input-wrapper">
                <input id="inputEmail" type="email" autocomplete="off" placeholder="Email">
                <i class='bx bxs-envelope'></i>

                <div class="errorMessage">
                    <p id="errorMessageEmail"><i class='bx bx-info-circle active'></i>Email inválido</p>
                </div>
            </div>
        
            <div class="input-wrapper">
                <input id="inputPassword" type="password" autocomplete="off" placeholder="Password">
                <i class='bx bxs-lock-alt'></i>

                <div class="errorMessage">
                    <p id="errorMessagePassword"><i class='bx bx-info-circle active'></i>Ingrese una contraseña válida</p>
                </div>
            </div>

            <button>Log in</button>

            <div id="JoinLog">
                <p id="textJoinLog">You don't have an account?<a href="../views/" id="linkJoinLog" class="shadow">Join</a></p>
            </div>

        </div>
    </div>
</body>
</html>